<div class="row justify-content-center mt-4">
  <div class="col col-sm-8 col-md-6 col-lg-4">
    <h1 class="my-4">Create a new character</h1>

    <form action="/character/create" method="post" class="">
      <div class="input-group mb-2">
        <input
          type="text"
          name="name"
          class="custom-form-control form-control py-2 ps-4 {{#if error}}is-invalid{{/if}}"
          placeholder="name"
          aria-label="Character name"
          value="{{ character.name }}"
        >
        {{#if error}}<div class="text-danger text-center mb-2">{{ error }}</div>{{/if}}
      </div>
      <div class="input-group mb-2">
        <input
          type="text"
          name="occupation"
          class="custom-form-control form-control py-2 ps-4 {{#if error}}is-invalid{{/if}}"
          placeholder="Cool pink t-shirt"
          aria-label="occupation"
          value="{{ character.occupation }}"
        >
        {{#if error}}<div class="text-danger text-center mb-2">{{ error }}</div>{{/if}}
      </div>
      <div class="input-group mb-2">
        <input
          type="text"
          name="weapon"
          class="custom-form-control form-control py-2 ps-4 {{#if error}}is-invalid{{/if}}"
          placeholder="Cool pink t-shirt"
          aria-label="weapon"
          value="{{ character.weapon }}"
        >
        {{#if error}}<div class="text-danger text-center mb-2">{{ error }}</div>{{/if}}
      </div>
      <div class="input-group mb-2">
        <button type="submit" class="btn btn-primary bg-light-green border-0">Create</button>
      </div>
    </form>
  </div>
</div>