<div class="container">
  <h1 class="text-center mb-4">Characters</h1>
  <div class="row">
    {{#if characters.length}}
      {{#each characters as |character|}}
        <div class="col-12 col-md-6 col-lg-4 mb-4 d-flex justify-content-center product-card" data-id="{{character.id}}">
          <div class="card shadow bg-body rounded" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Name: {{character.name}}</h5>
              <p class="card-text">Occupation: {{character.occupation}}</p>
              <h6 class="card-text">Weapon: {{character.weapon}}</h6>
              <div class="d-flex justify-content-between mt-4">
                <a href="/character/{{character.id}}" class="btn btn-primary">See details</a>
                <a class="btn btn-danger remove character" data-id="{{character.id}}">Remove</a>
              </div>
            </div>
          </div>
        </div>
      {{/each}}
    {{else}}
      <p>There are no characters 😔 Come back later</p>
    {{/if}}
  </div>
</div>

<script>
  const removeNodes = document.querySelectorAll('.remove');
  for(let node of removeNodes) {
    node.addEventListener('click', () => {
      const nodeId = node.dataset.id;
      axios.delete(`/character/${nodeId}`)
        .then(responseFromApi => {
          if(responseFromApi.status == 204) {
            document.querySelector(`.product-card[data-id="${nodeId}"]`).remove();
          }
        })
        .catch(error => console.log('Error!', error))
    })
  }
</script>